@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
.featured-products {
  padding: 43px 0;
}
.featured-products * {
  font-family: "Gothic A1", sans-serif;
}
.featured-products h2 {
  margin: 0;
}
.featured-products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.featured-products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-products__title-wrapper {
  margin-bottom: 30px;
}
.featured-products__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.38;
  text-align: center;
  color: #656874;
}
.featured-products__list {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 40px;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}
.featured-products__item {
  width: 100%;
  max-width: 520px;
}

.product-item {
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}
.product-item__image {
  width: 100%;
  aspect-ratio: 26/17;
  object-fit: cover;
}
.product-item__title {
  margin: 30px 0 11px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.9;
  color: #656874;
}
.product-item__submit_button {
  width: 100%;
  max-width: 285px;
  height: 62px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  color: #ffffff;
  background-color: #464B90;
  border-radius: 62px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}
.product-item__submit_button:hover {
  background-color: rgb(59.9906542056, 64.2757009346, 123.4093457944);
}
.product-item__submit_button:active {
  background-color: rgb(49.9813084112, 53.5514018692, 102.8186915888);
  transform: scale(0.98);
}

@media screen and (min-width: 750px) {
  .featured-products {
    padding: 80px 0;
  }
  .featured-products__title-wrapper {
    margin-bottom: 60px;
  }
  .featured-products__title {
    font-size: 42px;
    font-weight: 900;
    line-height: 1;
  }
  .product-item {
    padding-bottom: 79px;
  }
}