@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

$font-primary: "Gothic A1", sans-serif;
$text-color-primary: #656874;
$text-color-secondary: #ffffff;
$accent-color: #464B90;
$max-card-width: 520px;
$min-card-width: 375px;

@mixin text-style($size, $weight: normal, $line-height: 1) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

.featured-products {
  padding: 43px 0;  

  *{
    font-family: $font-primary;
  }
  
  h2 {
    margin: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title-wrapper {
    margin-bottom: 30px;
  }

  &__title {
    @include text-style(26px, 900, 1.38);
    text-align: center;
    color: $text-color-primary;
  }

  &__list {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax($min-card-width, 1fr));
    gap: 40px;
    justify-content: center;
    max-width: 100%; 
    margin: 0 auto;
  }

  &__item {
    width: 100%;
    max-width: $max-card-width;
  }
}

.product-item {
  width: 100%;
  padding-bottom: 10px;
  text-align: center;

  &__image {
    width: 100%;
    aspect-ratio: 26 / 17; 
    object-fit: cover;
  }

  &__title {
    margin: 30px 0 11px;
    @include text-style(22px, 700, 1.9);
    color: $text-color-primary;
  }

  &__submit_button {
    width: 100%;
    max-width: 285px;
    height: 62px;
    @include text-style(16px, 400, 1.62);
    color: $text-color-secondary;
    background-color: $accent-color;
    border-radius: 62px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;

    &:hover {
      background-color: color.adjust($accent-color, $lightness: -6%);
    }
  
    &:active {
      background-color: color.adjust($accent-color, $lightness: -12%);
      transform: scale(0.98);
    }
  }
}

@media screen and (min-width: 750px) {
  .featured-products {
    padding: 80px 0;

    &__title-wrapper {
      margin-bottom: 60px;
    }

    &__title {
      @include text-style(42px, 900, 1);
    }
  }

  .product-item {
    padding-bottom: 79px;
  }
}
